
[submodule "src/emotion"]
	path = src/emotion
	url = https://wowkidgitlab.topica.vn/AI/module_emotion
[submodule "src/detect_face"]
	path = src/detect_face
	url = https://wowkidgitlab.topica.vn/AI/module_face
